body 
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 0.9em;
}

h1 
{
	font-family: Georgia, Times New Roman, Serif;
}

#main 
{
	width: 600px;
	margin: auto;
}

label 
{
	display: block;
	margin-top: 10px;
	margin-bottom: 4px;
}

div.wrapper 
{
	outline: solid 1px #000;
	margin: 0;
	padding: 0;
}

table.comments
{
	border-collapse: collapse;
	width: 100%;
}

table.comments td, table.comments th 
{
	padding: 4px;	
	margin: 0;
}

table.comments td 
{
	border-top: solid 1px #aaa;
}

table.comments tr.body td 
{
	border-top: solid 1px #eee;
}

div.comment 
{
	border: solid 1px #000;
	background-color: #ffe;
	margin-bottom: 10px;
	padding: 8px;	
}

/* Code Syntax Styles */
.csharpcode,.csharpcode pre{font-size:small;color:black;font-family:Consolas,"Courier New",Courier,Monospace;background-color:#fff;}.csharpcode pre{margin:0;}.csharpcode .rem{color:#008000;}.csharpcode .kwrd{color:#00f;}.csharpcode .str{color:#006080;}.csharpcode .op{color:#0000c0;}.csharpcode .preproc{color:#c63;}.csharpcode .asp{background-color:#ff0;}.csharpcode .html{color:#800000;}.csharpcode .attr{color:#f00;}.csharpcode .alt{background-color:#f4f4f4;width:100%;margin:0;}.csharpcode .lnum{color:#606060;}